
{
    "env": {
        "node": true
    },
    "extends": "indexyz/vue",
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaFeatures": {
            "jsx": true
        },
        "extraFileExtensions": [".vue"]
    }
}
